name: Release please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: go
          token: ${{ secrets.GITHUB_TOKEN }}
          manifest-file: .release-please-manifest.json

  build-and-release:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Update Version in Code
        run: |
          sed -i '' 's/Version: "v[0-9]*\.[0-9]*\.[0-9]*.*"/Version: "${{ needs.release-please.outputs.tag_name }}"/' cmd/root.go
          
      - name: Build for Apple Silicon
        env:
          GOOS: darwin
          GOARCH: arm64
        run: |
          go build -o cipr-darwin-arm64

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ needs.release-please.outputs.tag_name }} cipr-darwin-arm64
